*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
.vscode/
.idea/
*.db
*.tar
.env
/bin
/_bin
/out
cmd/remote/_client/build
scripts/armbuild/_build
scripts/kernelbuild/_build
cmd/vplay/_player/*
!cmd/vplay/_player/README
.DS_Store
