*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
.vscode/
.idea/
*.db
*.tar
.env
/bin
/_bin
/out
cmd/remote/_client/build
pkg/games/system_metadata.json
pkg/games/system_metadata.gen.json
.DS_Store
.pi/
